#nav {
	padding: 30px;
	text-align: center;
}

#nav .link {
	font-size: 19px;
	font-weight: bold;
	color: #2c3e50;
	text-decoration: underline;
}

#nav .link.router-link-exact-active {
	color: #42b983;
}