.App {
	text-align: center;
}

#songs {
	display: grid;
	/* flex-wrap: wrap; */
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
	padding: auto;
}

.song_name {
	color: black;
}

#genre_select {
	font-size: 26px;

}