.App {
	text-align: center;
}

#songs {
	/* display: grid;
	
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
	padding: auto;
	*/
}

.title {
	text-align: center;
	margin-bottom: 50px;
}


.spec_choose {
	font-size: 26px;
	/* border: 1px solid black; */
	width: 300px;
	margin: auto;
	padding-top: 0;
}

#genre_select {}

#genre_select select {
	font-size: 1rem;
	border: 1px solid black;
	padding-left: 3px;
}

.label {
	margin: 0;
}


#genre_select .submit {
	font-size: 1rem;
	border: 1px solid black;
	padding: 7px 7px 7px 7px;
}

#genres {}

.mainbtn {
	font-size: 17px;
	color: white;
	background-color: #007Bff;
	border: none;
	border-radius: 5px;
	margin: 5px;
	padding: 10px 10px 10px 10px;

}


.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d
}

.spec_choose input[type='text'],
.spec_choose input[type='number'] {
	margin: 0;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid black;
}

input:focus {
	outline: none;
}

#specification {
	padding: 6px;
	display: inline-flex;
	flex-wrap: wrap;

}

.title_desktop {
	display: none;
}

#songs {
	width: 80vw;
}

@media only screen and (min-width: 1090px) {
	#specification {
		width: 40%;
		margin-top: 0;

	}

	.title {
		margin-bottom: 0px;
	}

	#specification {
		padding: 6px;
		display: inline;
		flex-wrap: wrap;

	}

	.leftnav {
		width: 18rem;
		position: fixed;
		height: 60vh;
		overflow: hidden;
		padding-left: 0px;
		margin-left: 0px;
		border-right: 1px solid #999999;
	}

	.rightnav {
		width: 18rem;
		position: fixed;
		height: 60vh;

		padding-right: 0px;
		margin-right: 0px;
		border-left: 1px solid #999999;
		margin-left: calc(100% - 18rem);


	}

	#container {
		margin-left: 18rem;
		margin-right: 18rem;
		padding: 1rem;

	}

	.title_desktop {
		display: inline-block;
	}

	.title_mobile {
		display: none;
	}



	#songs {
		width: 40vw;
	}
}

.wraptext {
	word-wrap: break-word;
}

.subtitle {
	color: rgb(12, 4, 41);
}

#songs {
	overflow-y: scroll;
	height: 70vh;

	display: inline-block;

	/* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#songs::-webkit-scrollbar {

	width: 0.25rem;
}




#songs::-webkit-scrollbar-thumb {
	background: #959cff;
}

.song {
	width: 90%;

}