.song {
	/* border: 1px solid black; */
	margin: 5px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	box-shadow: 5px 10px 8px #d1d1d1;
}

.song_name {
	font-size: 17px;
	color: black;
}

.song_img {
	width: 100px;
}

h5 {
	display: inline-block
}

.item {
	vertical-align: middle;
	margin: 10px;
}